@import 'styles/_variaveis.scss';

.principal {
    background: url('/assets/img/background/principal.png') no-repeat;
    padding: 32px 10%;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 16px 0;
        text-align: center;
    }
}