@import 'styles/_variaveis.scss';

.principal {
    background: url('/assets/img/background/principal.png') no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__container {
        width: $desktop;
        display: flex;
        margin: 1rem 0;
        text-align: center;
        justify-content: space-between;
    }
}

@media (max-width: $desktop){
    .principal__container {
        width: $tablet;
        margin: 1rem auto;
    }
}

@media (max-width: $tablet){
    .principal__container {
        width: $mobile;
        flex-direction: column;
    }
}









.tabelas{
    background: url('/assets/img/background/daytona.png') no-repeat;
    background-position-y: center;
    background-size: cover;
}

.hallDaFama {
    background: url('/assets/img/background/cinza.png') no-repeat;
    background-size: cover;
}

.ultimasNoticias {
    background-color: $branco;
}

