@import 'styles/_variaveis.scss';

.principal {
    background: url('/assets/img/background/principal.png') no-repeat;
    padding: 2rem 10vw 0 10vw;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        text-align: center;
    }
}