@import 'styles/_variaveis.scss';

.botaoLink {
    font-size: 16px;
    color: $cor-texto;
    padding: 8px 32px;
    border-radius: 25px;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
}

.whatsapp {
    background-color: $verde-wpp;
}

.youtube {
    background-color: $vermelho-yt;
}