@import 'styles/_variaveis.scss';

.noticia {
    background-color: $cinza-claro;
    margin: 16px 0;
    width: 336px;
    box-shadow: 8px 8px 8px rgba($color: #000000, $alpha: 0.25);

    img {
        width: 320px;
        padding: 16px 8px;
    }

    &__texto {
        h3 {
            font-size: 18px;
            padding: 8px;
        }

        p {
            padding: 0 8px 8px 8px;
        }
    }
}