//Tipografia
$fonte-principal: 'Lexend', sans-serif;
$fonte-menu: 'Outfit', sans-serif;
$fonte-orbitron: 'Orbitron', sans-serif;
//Cores
$cor-texto: #EFEFEF;
$cor-texto-destaque: #2557FD;
$branco: #FFFFFF;
$cinza-claro: #c8cbd3;
$cinza-escuro: #202020;
$preto: #000000;
$azul-bebe: #a9a9ff;
$azul-claro: #4b4bff;
$azul: #0d0dd6;
$azul-escuro: #0a0a36;
$verde: #128C7E;
$verde-wpp: #25D366;
$verde-escuro: #09453e;
$vermelho-yt: #FF0000;
$dourado-claro: #e0c28b;
$dourado: #806b0c;
//Tamanho de tela
$desktop-ultrawide: 1500px;
$desktop: 1130px;
$tablet: 800px;
$mobile: 500px;
//Sombra
$sombra-de-caixa: 0.5rem 0.5rem 0.5rem rgba($color: #000000, $alpha: 0.25)
