@import 'styles/_variaveis.scss';

.principal {
    text-align: center;
    color: $cor-texto;

    &__corpo {
        display: flex;
        justify-content: center;
        gap: 1vw;
        padding: 2rem 10vw;
    }

    &__menu {
        flex: 2 1 auto;
        width: 14vw;
    }

    &__conteudo {
        flex: 2 1 auto;
        width: 75vw;

    }
}