@import 'styles/_variaveis.scss';

.cabecalho {
    display: flex;
    margin: 1em auto;
    justify-content: space-around;
    align-items: center;
    background-color: $cinza-escuro;
    width: $desktop;
    flex-wrap: wrap;
}

@media (max-width: $desktop){
    .cabecalho {
    width: $tablet;
    gap: 1em;
    }
}

@media (max-width: $tablet){
    .cabecalho {
        width: $mobile;
    }
}