@import 'styles/_variaveis.scss';

.cabecalho {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: $cinza-escuro;
    width: $desktop;
}