@import 'styles/_variaveis.scss';

.tabelas {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: $desktop;
    

    &__titulo {
        font-size: 4em;
        color: $cor-texto;
        font-weight: 700;
    }
}

@media (max-width: $desktop) {
    .tabelas {
        width: $tablet;
    }
}

@media (max-width: $tablet) {
    .tabelas {
        width: $mobile;
    }
}