@import 'styles/_variaveis.scss';

.tabelas {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    width: $desktop;
    

    &__titulo {
        font-size: 4em;
        color: $cor-texto;
        font-weight: 700;
    }
}