@import 'styles/_variaveis.scss';

.tabelas {
    padding: 1em 10vw;
    background: url('/assets/img/background/daytona.png') no-repeat;
    background-position-y: -12.5em;
    background-size: 100vw;

    &__titulo {
        font-size: 4em;
        color: $cor-texto;
        font-weight: 700;
    }
}