@import 'styles/_variaveis.scss';

.principal {
    text-align: center;
    background: url('/assets/img/background/mercedes.png') no-repeat;
    background-size: 100%;
    background-position-y: -25rem;
    padding: 1rem 25vw;
    color: $cor-texto;

    &__titulo {
        font-size: 4rem;
        margin-top: 1rem;
        font-weight: 400;
    }

    &__texto {
        font-size: 2rem;
    }
}