@import 'styles/_variaveis.scss';

.proximasEtapas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    &__lista {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
    }
}