@import 'styles/_variaveis.scss';

.uploadImagem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
    margin: 32px 0;
    
    &__selecionarArquivo {
        background-color: $azul-escuro;
        color: $cor-texto;
        padding: 16px;
        cursor: pointer;
    }

    &__input {
        display: none;
    }
}