@import 'styles/_variaveis.scss';

.botao {
    font-family: $fonte-principal;
    background-color: $azul-escuro;
    font-size: 3rem;
    color: $cor-texto;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    border: 1.5px solid $azul;
    border-radius: 0.5rem;
}

.botao:hover {
    background-color: $cinza-escuro;
    font-size: 3.2rem;
    transition: 500ms;
}


@media (max-width: $desktop){
    .botao {
        font-size: 2.5rem;
    }

    .botao:hover {
        font-size: 2.8rem;
    }
}

@media (max-width: $tablet){
    .botao {
        font-size: 2rem;
    }

    .botao:hover {
        font-size: 2.5rem;
    }
}

@media (max-width: $mobile){
    .botao {
        font-size: 1.5rem;
    }

    .botao:hover {
        font-size: 2rem;
    }
}


