@import 'styles/_variaveis.scss';

.etapa {
    text-align: center;
    color: $cor-texto;
    width: 96px;
    padding: 8px;

    &__grid {
        background-color: $verde-escuro;
        border-radius: 4px;
    }

    &__dataHora {
        font-size: 14px;
        margin: 8px 0;
    }

    &__pista {
        width: 80px;
    }
}