@import 'styles/_variaveis.scss';

.formulario {
    text-align: center;
    background-color: transparent;
    padding: 1rem 0;
    color: $cor-texto;
    // box-shadow: 8px 8px 8px rgba($color: #000000, $alpha: 0.25);

    &__titulo {
        font-size: 3rem;
        color: $cor-texto;
        font-family: $fonte-orbitron;
        font-weight: 200;
    }

    &__container {
        margin: 0 auto;
        width: $desktop;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__campo {
            flex-basis: 49%;
        }
    }
}

@media (max-width: $desktop){
    .formulario__container{
        width: $tablet;
    }

    .formulario__titulo {
        font-size: 2em;      
    }
}


@media (max-width: $tablet){
    .formulario__container{
        width: $mobile;
        flex-direction: column;
    }

    .formulario__titulo {
        font-size: 2em;        
    }
}

@media (max-width: 420px){
    .formulario__container{
        width: 275px;
    }

    .formulario__titulo {
        font-size: 1.75em;        
    }
}


