@import 'styles/_variaveis.scss';

.campo {
    margin: 1rem 0;
    text-align: left;

    input {
        width: 100%;
        box-sizing: border-box;
        font-family: $fonte-principal;
        font-size: 1.25em;
        padding: 1rem;
        color: $cor-texto;
        background-color: $azul-escuro;
        opacity: 0.7;
        border: 0.125rem solid $azul-bebe;
        border-radius: 0.5rem;
        box-shadow: $sombra-de-caixa;
    }

    input:hover, input:focus {
        opacity: 0.9;
    }

    input::placeholder {
        font-family: $fonte-principal;
        font-size: 1.25em;
    }
}

@media (max-width: $desktop){
    .campo {
        input {
            font-size: 1em;
        }
    }
}

@media (max-width: 400px){
    .campo {
        input {
            font-size: 0.8em;
        }
    }
}