@import 'styles/_variaveis.scss';

.patrocinadores {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 16px;
    background-color: $preto;
    border-radius: 4px;
    width: 100%;

    &__img {
        width: 64px;
        padding: 4px;
    }
}