@import 'styles/_variaveis.scss';

.ultimasNoticias {
    background-color: $branco;
    width: 1130px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap

    &__titulo {
        padding-left: 16px;
        border-left: 4px solid $azul-claro;
    }

    &__noticias {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__noticia__item {
        cursor: pointer;
    }
}