@import 'styles/_variaveis.scss';

.ultimasNoticias {
    max-width: $desktop;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &__titulo {
        padding-left: 16px;
        border-left: 4px solid $azul-claro;
    }

    &__noticias {
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
    }

    &__noticia__item {
        cursor: pointer;
    }
}

@media (max-width: $desktop) {
    .ultimasNoticias {
        max-width: $tablet;
    
        &__noticias {
            justify-content: center;
            gap:30px;
        }
    }
}

@media (max-width: $tablet) {
    .ultimasNoticias {
        max-width: $mobile;
    
        &__noticias {
            gap:20px;
        }
    }
}