@import 'styles/_variaveis.scss';


.principal {
    padding: 1rem 20vw;
    text-align: center;
    background: url('/assets/img/background/mercedes.png') no-repeat;
    background-size: 100%;
    padding-top: 1rem;

    &__titulo {
        font-size: 4rem;
        padding-top: 2rem;
        color: $cor-texto;
        font-family: $fonte-principal;
        font-weight: 400;
    }
}