@import 'styles/_variaveis.scss';

.noticia {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $cor-texto;
    padding-bottom: 8px;
    border-bottom: 1px solid $cinza-claro;

    &__img {
        width: 120px;
        border-radius: 8px;
    }
}